# Random Forest Regression(Priyanshu)

## Importing Libraries & Dataset

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
ls

Data.csv
P_ModelSelection(RandomForestRegression).ipynb
P_ModelSelection(SVR).ipynb
decision_tree_regression.ipynb
decision_tree_regression.py
multiple_linear_regression.ipynb
multiple_linear_regression.py
polynomial_regression.ipynb
polynomial_regression.py
random_forest_regression.ipynb
random_forest_regression.py
support_vector_regression.ipynb
support_vector_regression.py

In [4]:
dataset = pd.read_csv('Data.csv')
dataset.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [6]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values