# Decision Tree Regression

## Importing libraries

In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

## Importing datset

In [2]:
ls

Position_Salaries.csv           decision_tree_regression.ipynb
Untitled.ipynb                  decision_tree_regression.py

In [6]:
dataset = pd.read_csv('Position_Salaries.csv')
dataset

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [9]:
X = dataset.iloc[:, 1: -1].values
y = dataset.iloc[:, -1].values
print(X)
print(y)

[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]]
[  45000   50000   60000   80000  110000  150000  200000  300000  500000
 1000000]

## Training The